<header class="header">
  <h1 class="header-title">
    Birthday Rolodex
  </h1>
</header>

<main class="main">
  <mat-card *ngFor="let person of people" class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{ person.name }}</mat-card-title>
      <mat-card-subtitle>{{
        person.birthday | date: 'MMMM d'
      }}</mat-card-subtitle>
    </mat-card-header>
    <img
      mat-card-image
      src="https://thumbs.dreamstime.com/b/ham-hock-8724052.jpg"
      alt="Drawing of a ham bone"
    />
    <mat-card-content>
      <h3>Current Interests:</h3>
      <ul>
        <li>Weightlifting</li>
        <li>Moving to the South</li>
      </ul>
      <h3>Gift Ideas:</h3>
      <ul>
        <li>Amazon gift card</li>
        <li>Hoodie</li>
      </ul>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary">CREATE REMINDER</button>
      <button mat-raised-button color="primary">CALL</button>
    </mat-card-actions>
  </mat-card>
</main>
